/* Custom CSS */
.no-border {
    border: none; /* Remove borders */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

.no-margin {
    margin: 0 !important; /* Removes all margins */
}

.container {
    padding-left: 0;
    padding-right: 0;
}

.btn {
    margin-left: 0;
    margin-right: 0;
    background-color: #1ABC9C;
    color: #fff;
}

.form-control {
    height: 50px;
    margin-bottom: 30px;
}