.navbar {
    padding: 20px 0;
  }
  
  .nav-link {
    font-weight: bold;
    margin-left: 15px;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
  }

  .navbar-nav .nav-link.active {
    background-color: #1ABC9C;
    color: white;
    border-radius: 5px;
  }
  
  